@model ShowMasterApp.Core.DTOs.EventDTO

<!DOCTYPE html>
<html>
<head>
    <title>Delete Event</title>
</head>
<body>
    <h1>Are you sure you want to delete this event?</h1>
    <p>Name: @Model.Name</p>
    <p>Date: @Model.Date.ToString("dd.MM.yyyy")</p>
    <form method="post">
        <button type="submit">Yes, Delete</button>
        <a href="@Url.Action("Index")">Cancel</a>
    </form>
</body>
</html>
