@model EventDTO

<!DOCTYPE html>
<html>
<head>
    <title>Edit Event</title>
</head>
<body>
    <h1>Edit Event</h1>
    <form method="post">
        <label for="Name">Event Name:</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" required />
        <br />
        <label for="Date">Event Date:</label>
        <input type="date" id="Date" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" required />
        <br />
        <button type="submit">Update</button>
    </form>
</body>
</html>
